
.form{
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(145deg,rgb(62, 89, 116),rgb(104, 196, 118),rgb(222, 226, 105));
    box-shadow: 5px 5px 12px 5px #497D74;
    padding: 10px;
    text-align: center;
    position:fixed;
    top: 120px;
    left: 500px;
    justify-content: center;
    text-align: center;
    width:400px;
    /* height: 60vh; */
    height: auto;
    z-index: 1000;
}
.btns{
    display: flex;
    height: 40px;
    font-size: 25px; 
}

.forgot{
    text-align: end;
    padding: 15px 15px 0px 0px;
    font-size: 20px;  
}
.input{
    height:38px;
    width:20vw;
    border-radius: 3px;
    padding-left: 10px; 
}
.ip{
    height:38px;
    width:20vw;
    border-radius: 3px;
    padding-left: 10px;
}
.loginbtn{
    background-color:#000957;
    color: white;
    width: 200px;
    border-radius: 5px;
}
.signupbtn{
    background-color:white;
    color:black;
    width: 200px;
    border-radius: 5px;
}
#loginsuccess{
    height: 50px;
    width: 360px;
    font-size: 25px;
    background-color: #000957;
    color: white;
    margin-top:10px;
    border-radius: 5px;
}
#signupsuccess{
    height: 50px;
    width: 360px;
    background-color: #000957;
    color: white;
    /* margin-top:10px; */
    font-size: 25px;
    border-radius: 5px;
}
.lastpart{
    margin-top: 15px;
    font-size: 20px;
}

#signup{
    margin-left: 10px;
}
  
  

 

  