.nav1{
    /* background: linear-gradient(145deg,rgb(129, 176, 223),rgb(104, 196, 118),rgb(222, 226, 105)); */
    background-color:#0B2E33;
    box-shadow: 0px 1px 0px 0px ;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index:2; 
    padding: 7px 10px;
    justify-content: center;
    position: fixed;
    top: 0;
}
#logo{
    border-radius: 70%;
    height: 70px;
    position: absolute;
top: 0px;
    left: 25px;
}
.item{
    display: flex;
    font-size: 22px;
    gap: 15px;
    position:relative;
    left: 18%;
    top: 6px;
}
.component{
    color:#fffffff7;
    text-decoration: none;
    padding: 8px 0px;
    font-size: medium;
}
.component:hover{
    text-decoration: none;
    color: rgb(168, 174, 176);
}
.input{
    height: 40px;
}
#s-btn{
    
    border-radius: 5px ;
    margin-left: 5px;
    border: 2px solid grey;
    padding: 1px;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}
#s-btn:hover{
    background-color:rgb(20, 93, 117);
    color:rgb(0, 0, 0);
}
#s-text{
    
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid grey;
    padding-left: 3px;
}
#login{
    height: 40px;
    width: 100px;
    position: fixed;
    right: 40px;
    background-color:#23adc0;
    margin-left: 20px;
    border: 2px solid rgb(36, 30, 30);
    border-radius: 4px;
    padding-left: 10px;
    color:black;
    text-decoration: none;
}


